body {
  margin: 0;
  padding: 72px 12px;
  background: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 500;
  color: #232323;
}

* {
  box-sizing: border-box;
}

.skills {
  padding: 0 5vw;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;

  h2 {
    width: 100%;
    padding: 0 15px;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 36px;
  }
  span {
    font-size: 13px;
    margin-bottom: 12px;
  }
  h4 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 24px;
  }
}

.technical, .knowledge {
  width: 50%;
  padding: 0 15px;
}

  .progress {
    margin-bottom: 36px;

    &__label {
      display: block;
      margin-bottom: 12px;
      width: 100%;
    }
    .progress-bar {
      width: 100%;
      height: 8px;
      background-color: #e8e8e8;
      position: relative;

      &__status {
        height: 100%;
        background-color: #7c4dff;

        @for $j from 0 to 100 {
          &.w#{$j} {
            width: $j * 1%;
          }
        }
      }
      &__point {
        position: absolute;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 12px;
        top: 50%;

        @for $j from 0 to 100 {
          &.w#{$j} {
            left: $j * 1%;
          }
        }
      }
    }
  }

.knowledge {
  &-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;

    .left-list, .right-list {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding-left: 24px;
      position: relative;
    }
    &__item {
      margin-bottom: 12px;

      i {
        position: absolute;
        left: 5px;
        color: #7e50ff;
        margin-right: 5px;
      }
    }
    span {
      font-size: 14px;
      font-weight: 500;
      color: #666;
    }
  }
}
.language {
  width: 100%;
  
  &-list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__item {
      display: flex;
      align-items: center;

      span {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

$circle-width: 0.04em;
$primary-color: #7e50ff;

.rect-auto {
  clip: rect(auto, auto, auto, auto);
}

.pie {
  position: absolute;
  border: $circle-width solid $primary-color;
  width: 1 - (2 * $circle-width);
  height: 1 - (2 * $circle-width);
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  transform: rotate(0deg);
}

.pie-fill {
  transform: rotate(180deg);
}

.c100 {
  *, *:before, *:after {
    box-sizing: content-box;
  }
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
  background-color: #cccccc;

  &.big {
    font-size: 180px;
    margin: 20px;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: white;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    white-space: nowrap;
  }

  &::after {
    position: absolute;
    top: $circle-width;
    left: $circle-width;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #f5f5f5;
    width: 1 - (2 * $circle-width);
    height: 1 - (2 * $circle-width);
  }
  .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
  }
  .bar {
    @extend .pie;
  }

  @for $j from 51 through 100 {

		&.p#{$j} .slice {
			@extend .rect-auto;
		}

		&.p#{$j} .bar:after{
			@extend .pie-fill;
		}

		&.p#{$j} .fill{
			@extend .pie;
    }
    
		&.p#{$j} .bar {
			transform: rotate(540-(360/100*$j) + deg);
		}

	}

	@for $j from 1 through 50 {
    &.p#{$j} .slice{
      transform: rotate(180deg)
    }
		&.p#{$j} .bar {
			transform: rotate(-(360/100*$j) + deg);
		}
	}
}

@media all and (max-width: 1245px) {
  .language-list__item {
    flex-direction: column;
  }
}

@media all and (max-width: 1024px) {
  .skills {
    padding: 0 1vw;
  }
}

@media all and (max-width: 768px) {
  .technical, .knowledge {
    width: 100%;
  }
}

@media all and (max-width: 700px) {
  .language-list {
    flex-direction: column;
    &__item{
      flex-direction: row;
      justify-content: center;

      & > span {
        width: 200px;
      }
    }
  }
}

@media all and (max-width: 450px) {
  .language-list__item {
    flex-direction: column;

    & > span {
      width: unset;
    }
  }
}

@media all and (max-width: 425px) {
  .knowledge-list .left-list, .knowledge-list .right-list {
    width: 100%;
  }
}